@define-color focus #088199;
@define-color white #eeeeee;
@define-color text  #0f0f0f;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-weight: 600;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

button {
    color: @focus;
}
button,
tooltip label {
    box-shadow: none;
    text-shadow: none;
    transition: none;
}
#workspaces,
#taskbar {
    background: transparent;
    border: 2px solid @focus;
    border-radius: 4px;
    min-width: 24px;
}
#workspaces button:hover,
#workspaces button.active,
#taskbar button:hover,
#taskbar button.active {
    color: @white;
    background: @focus;
}

#custom-wallpaper:hover,
#custom-playback:hover,
#network:hover,
#custom-lock:hover {
    color: @focus;
    background: transparent;
}

tooltip {
    background: @focus;
    border-radius: 4px;
}
tooltip label {
    font-size: 14px;
    font-weight: 600;
}

#custom-wallpaper,
#clock,
#custom-playback,
#cpu,
#custom-gpu,
#memory,
#temperature,
#network,
#custom-lock {
    background: @focus;
    padding: 0px 8px;
    color: @white;
    border: 2px solid @focus;
}

#custom-playback {
    font-size: 16px;
}

#custom-wallpaper,
#custom-playback {
    margin-right: 8px;
}

/* Padding to center align icons */
#custom-wallpaper {
    padding: 0px 10px;
}
#custom-lock {
    padding: 0px 14px 0px 10px;
}
#custom-playback {
    font-size: 22px;
    padding: 0px 12px 0px 10px;
}

/* Radii */

#custom-wallpaper {
    border-radius: 4px;
}
#clock,
#cpu {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#custom-playback,
#taskbar,
#custom-lock {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
