@define-color focus #088199;
@define-color white #eeeeee;
@define-color text  #0f0f0f;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar,
#taskbar {
    background: transparent;
    border: 2px solid @focus;
}

#workspaces button,
#workspaces button.persistent,
#taskbar button {
    background: transparent;
    color: @text;
}
#workspaces button.active,
#workspaces button:hover,
#taskbar button:hover,
#taskbar button.active {
    background: @focus;
    color: @white;
    box-shadow: none;
}
#custom-lock:hover {
    background: transparent;
}

tooltip {
    background: @white;
    border: 2px solid @focus;
}
tooltip label {
    color: @text;
    font-size: 12px;
    font-weight: normal;
}

#clock,
#mpris,
#custom-playback,
#cpu,
#custom-gpu,
#memory,
#temperature,
#network,
#bluetooth,
#custom-lock {
    background: @focus;
    padding: 2px 10px;
    color: @text;
}
#workspaces {
    border-right: 2px solid @focus;
}
#network {
    padding: 2px 16px 2px 10px;
}
#custom-lock {
    padding: 2px 14px 2px 10px;
}
#mpris {
    font-size: 24px;
    padding: 2px 12px 2px 10px;
}
