@define-color background	#819a91;
@define-color transparent   #eeeeee;
@define-color foreground	#faf9ee;
@define-color contrasted	#000000;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @transparent;
    border: 2px solid @background;
}

#workspaces button,
#workspaces button.persistent {
    background: @transparent;
    color: @contrasted;
}
#workspaces button.active,
#workspaces button:hover {
    background: @background;
    color: @foreground;
    box-shadow: none;
}

tooltip {
    background: @foreground;
    opacity: 0.8;
    border: 2px solid @contrasted;
}
tooltip label {
    color: @contrasted;
    font-size: 12px;
    font-weight: normal;
}

#clock,
#taskbar,
#workspaces,
#custom-playback,
#cpu,
#memory,
#temperature,
#network,
#custom-lock {
    background: @background;
    padding: 2px 10px;
}
#taskbar,
#workspaces {
    padding: 2px;
}
#custom-lock {
    padding: 2px 14px 2px 10px;
}
