#window {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #088199;
    border-radius: 4px;
}

#text {
    color: #000000;
}

#input {
    background: unset;
    box-shadow: none;
    border: unset;
    border-radius: 0px;
    border-bottom: 2px solid #088199;
    font-size: 20px;
    padding: 5px 0 5px 10px;
    margin-bottom: -2px;
}

#img {
    padding-right: 5px;
}
#entry {
    padding: 5px;
    color: #000000;
}
#entry:selected {
    background: transparent;
    outline: 2px solid #088199;
}
